body{
    height: 1200px;
}

#navigasyon{
    padding: 1% 8% 1% 8%;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

#main-banner{
    background-image: url("img/bigben.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    height: 500px;  
    border-radius: 0;
    color: white;
    padding: 8%;
    margin: 0;
}

#main-banner .display-4,.lead{
    background-color: #343a40;
    text-align: center;
}

.content-container{
    background-color: beige;
    height: auto;
}

.content{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.contact-container{
    background-color: #343a40;
    height: auto;
}

.contact{
    width: 20%;
    margin: 0 auto;
    padding: 2%;
    color: white;
    min-width: 300px;
    text-decoration: none;
}


